*.6
*.9
*.o
*.a
*.tab.c
*.tab.h
*.tab.o
*.new
*.bak
__pycache__/
*.pyc
out.c
t.c
*/out.c
o9c.bak
o9c/y.tab.*
o9c/type.tab.*
libo9.a
o9c/o9type
o9c/o9c
o9c/o9c_plan9
o9c/o9_test
o9c/o9_plan9.tab.c
o9c/o9_plan9.tab.h
o9c/out.c
o9c/test/e2e_test.c
o9c/test/full_test.c
o9c/test/integration.c
o9c/test/gen_pipeline.c
o9c/test/o9_asm_test.c
o9c/test/pbt_ledger*
o9c/test/pipeline_generated.c
o9c/test/out.c
o9c/test/crypto_test
o9c/test/tab_test

# Accidental rc/shell redirection artifacts.
[[]*
*\\*
*"
