#!/bin/rc
cd /mnt/term/home/scott/Repo/objective-9c
auth/factotum >[2]/dev/null
echo 'key proto=dp9ik dom=rentonsoftworks.coin user=scott !password=$Master001' > /mnt/factotum/ctl
./o9c/o9c < o9c/test/demo_grid.o9 > /tmp/demo.c || exit transpile
6c -FVw -I. -o /tmp/demo.6 /tmp/demo.c || exit 6c
6l -o $home/tmp/o9demo /tmp/demo.6 libo9.a /$objtype/lib/libndb.a || exit 6l
echo '=== starting server on babyFileserver:'
rcpu -h babyFileserver -c 'sleep 25 | /usr/scott/tmp/o9demo' &
sleep 6
echo '=== importing remote app namespace:'
rimport babyFileserver /mnt/o9/Counter /n/o9demo && ls /n/o9demo
echo '=== remote status:'
sed 3q /n/o9demo/class/Counter/status
echo '=== remote method calls over the wire:'
echo 'method Counter inc arg0=23' > /n/o9demo/class/Counter/ctl
echo 'method Counter get' > /n/o9demo/class/Counter/ctl
cat /n/o9demo/class/Counter/data
echo '=== assembly recipe written by the remote server:'
cat /n/o9demo/state/*.namespace
echo demo done

