#!/bin/rc
# build_srv.rc — build and start counter server, wait forever
cd /tmp/o9
git/pull >[2]/dev/null
mk >[2]/dev/null
o9c/o9c < o9c/test/counter_srv.o9 > srv.c
6c -FVw -I. -o srv.6 srv.c >[2]/dev/null
6l -o counter_srv srv.6 libo9.a /$objtype/lib/libndb.a >[2]/dev/null
rm /srv/Counter >[2]/dev/null
echo 'SERVERBUILT'
