#!/bin/rc
# build_local_array_test.rc — generate .c in /tmp/o9/ where o9.h lives
cd /tmp/o9
git/pull >[2]/dev/null
mk
o9c/o9c < o9c/test/local_array_test.o9 > lat.c
6c -FVw -I. -o lat.6 lat.c
6l -o lat_test lat.6 libo9.a /$objtype/lib/libndb.a
./lat_test
echo exit_status $status
